<div class="contenedorPri">
	<nav class="navbar navbar-inverse " role="navigation">

		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#" title="Cinemax">Cinemax</a>

				<!-- Top menu -->
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container">
						<div class="navbar-header">
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="top-navbar-1">
							<ul class="nav navbar-nav navbar-right">
								
								<li class="nav-item">
									<a class="nav-link" href="#/pelicula" id="crear-pelicula">Registrar
										Pelicula</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#/reserva" id="crear-reserva">Registrar
										Reserva</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#/salacine" id="crear-salacine">Registrar
										Salas Cine</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#/listaPelicula" id="listar-pelicula">Listar
										Peliculas</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#/listaReserva" id="listar-reserva">Listar
										Reservas</a>
								</li>

							</ul>
						</div>
					</div>
				</nav>
			</nav>
		</div>
	</nav>
</div>